/* General + Root variables + Body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --primarycolor: rgb(255, 212, 212);
    --secondarycolor: rgb(187, 255, 207);
    --tertiarycolor: rgb(138, 138, 138);
}

body {
    font-family: Helvetica, Arial, sans-serif;
  }


/* Header + Nav style */
header {
    padding: 10px;
    background-color: var(--tertiarycolor);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    padding: 10px 0px 10px 40px;
    font-size: 36px;
    color: var(--tertiarycolor);
  }

header a {
    text-decoration: none;
    color: var(--primarycolor);
  }

header nav {
    margin: 7px 200px;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li {
    padding: 10px 60px 10px 100px;
    font-weight: lighter;
    font-size: 1.55vw;
  }




/* Banner style */
.figure-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




/* General */
.heading {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--tertiarycolor);
  padding: 40px;
  border-bottom: 10px solid;
  border-color: var(--primarycolor);
  color: var(--secondarycolor);
  font-size: 28px;
}




/* About style */
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#about img {
    padding: 10px 10px 10px 10px;
    width: 25%;
    margin: auto;
}

#about p {
  font-size: 1.5vw;
  margin: auto;
  color: var(--primarycolor);
}




/* Work style */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondarycolor);
    max-width: 90%;
    margin: auto;
    font-size: 2vw;
}

.project img {
    max-width: 100%;
    justify-content: center;
    border: var(--tertiarycolor) solid 10px;
}

.sub-project-container {
  display: flex;
  flex-wrap: wrap;
}

.sub-project {
  margin: 40px auto;
  padding-bottom: 50px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  background-color: var(--secondarycolor);
  font-size: 1.8vw;
}

.sub-project img {
  max-width: 100%;
  border: var(--tertiarycolor) solid 10px;
}




/* Contact style */
.footer-link a {
  text-decoration: none;
  color: var(--tertiarycolor);
}




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */




/* MEDIA QUERY FOR TABLETS AND SMALLER */




/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */




