/* General + Root variables + Body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root {
    --primarycolor: rgb(255, 255, 255);
    --secondarycolor: rgb(75 ,0 , 130);
    --tertiarycolor: rgb(138, 138, 138);
}

body {
    font-family: Helvetica, Arial, sans-serif;
  }


/* Header + Nav style */
header {
    background-color: var(--primarycolor);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    padding: 10px 0px 0px 40px;
    font-size: 3vw;
    color: var(--tertiarycolor);
    font-weight: lighter;
  }

header a {
    text-decoration: none;
    color: var(--tertiarycolor);
  }

  .period {
    color: var(--secondarycolor);
    font-weight: bold;
  }

header nav {
    margin: 7px 200px;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li {
    padding: 21px 60px 0px 100px;
    font-weight: lighter;
    font-size: 1.8vw;
  }




/* Banner style */
.banner {
  width: 90%;
  height: 100px;
  object-fit: cover;
  padding: 20px;
  border-radius: 35px;
}




/* General */
.heading {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0px 10px 50px;
  border-bottom: 10px solid;
  border-color: var(--secondarycolor);
  background-color: var(--primarycolor);
  color: var(--tertiarycolor);
  font-size: 1.8vw;
  font-weight: lighter;
}




/* About style */
.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#about img {
    padding: 10px 10px 10px 10px;
    width: 25%;
    margin: auto;
}

#about p {
  font-size: 1.5vw;
  margin: auto;
  color: var(--tertiarycolor);
  font-weight: lighter;
}




/* Work style */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    font-size: 2vw;
    color: var(--tertiarycolor);
    font-weight: lighter;
    padding-top: 30px;
    padding-bottom: 10px;
}

.project img {
    max-width: 100%;
    justify-content: center;
    border: var(--tertiarycolor) solid 10px;
}

.sub-project-container {
  display: flex;
  flex-wrap: wrap;
}

.sub-project {
  margin: 40px auto;
  padding-bottom: 10px;
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  font-size: 1.8vw;
  color: var(--tertiarycolor);
  font-weight: lighter;
}

.sub-project img {
  max-width: 100%;
  border: var(--tertiarycolor) solid 10px;
}




/* Contact style */
.footer-link a {
  text-decoration: none;
  color: var(--tertiarycolor);
}




/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */




/* MEDIA QUERY FOR TABLETS AND SMALLER */




/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */




